.pageFooter{
    background: #f4f4f4;
    width: 100%;
    padding: 0.35rem 0 0.55rem;
    .search{
        padding: 0 0.3rem;
        margin-bottom: 0.3rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .searchInput{
            display: flex;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            background: #fff;
            .searchIcon {
                width: .6rem;
                height: .6rem;
                background: url('/src/static/img/search.png') no-repeat;
                background-size: 50%;
                background-position: 50%;
            }
            input {
                width: 5rem;
                height: .6rem;
                line-height: .6rem;
            }
        }
        .searchBtn {
            width: 14.5%;
            display: inline-block;
            padding-left: .1rem;
            button {
                width: 90%;
                height: .6rem;
                border-radius: 2px;
                border: 1px solid #ebebeb;
                background: #fff;
            }
        }
    }
    .category {
        width: 100%;
        height: .6rem;
        display: flex;
        a {
            height: .6rem;
            padding-top: .18rem;
            display: block;
            width: 20%;
            color: #333;
            font-weight: 600;
            text-align: center;
            span {
                background-size: 1px 100%;
                background-image: linear-gradient(90deg,transparent 50%,#ccc 0);
                background-repeat: no-repeat;
                background-position: 98%;
                width: 100%;
                display: inline-block;
            }
        }
    }
    .copy{
        width: 100%;
        margin: 0 auto;
        padding: 0.4rem 0 0;
        a{
            display: inline-block;
            text-decoration: none;
            height: .4rem;
            line-height: .4rem;
            img{
                float: left;
            }
            span {
                height: 0.4rem;
                line-height: 0.4rem;
                margin: 0px 0px 0px .1rem;
                color: rgb(147, 147, 147);
            }
        }
    }
    .company{
        padding: 0px 0.24rem;
        line-height: 1.2;
    }
    .coInfo {
        margin-top: .3rem;
        color: #999;
        text-align: center;
        font-size: 0.2rem;
    }
}
