:global(.booklist){
    width: 100%;
    padding:0.05rem 0;
    :global(.booklistinfo){
        width: 100%;
        display: flex;
        padding: 0.2rem 0.25rem;
        align-items: center;
        // border-bottom: 1px solid #ddd;
       
        :global(.bookpic){
            display: inline-block;
            width: 1.25rem;
        }
        :global(.bookcontent){
            display: inline-block;
            margin-left: 0.2rem;
            padding:0.2rem 0;
            // border-bottom: 1px solid #ddd;
            h3{
               font-size: 0.3rem;
               font-weight: 100;
               span{
                   font-size: 0.1rem;
                   
                   color: #fff;
                   border-radius: 0.02rem;
                   padding: 0 0.02rem;
               }
                :global(.goon){
                    background-color: #b93321;
                }
                :global(.finish){
                    background-color: green;
                }
            }
            :global(.bookmsg){
                color: #999;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0.15rem 0;
            }
            :global(.bookkinds){
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    b{
                        color: red;
                        font-weight: 100;
                    }
                }
                i{
                    font-style: normal;
                    color: #ff8400;
                    border: 1px solid #ff8400;
                    font-size: 0.1rem;
                    padding: 0 0.06rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
   
}