:global(.indexnav){
    width: 100%;
    :global(.nav){
        width: 100%;
        padding: 0.25rem 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        :global(.navlist){
            flex: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            i{
                display: inline-block;
                width: 0.9rem;
                height: 0.9rem;
            }
            span{
                text-align: center;
                margin-top: 0.2rem;
            }
        }
        a:nth-child(1){
            i{
                background: url("~@static/img/icon1.png") no-repeat;
                background-size: cover;
            }
        }
        a:nth-child(2){
            i{
                background: url("~@static/img/icon2.png") no-repeat;
                background-size: cover;
            }
        }
        a:nth-child(3){
            i{
                background: url("~@static/img/icon3.png") no-repeat;
                background-size: cover;
            }
        }
        a:nth-child(4){
            i{
                background: url("~@static/img/icon4.png") no-repeat;
                background-size: cover;
            }
        }
    }
    :global(.recoder){
        padding: 0.2rem 0.3rem;
        a{
            padding: 0.2rem 0;
            span{
                padding: 0 0.2rem;
            }
        }
        :global(.history){
            color: #999;
            span{
                border-right: 1px solid #999;
            }
        }
        :global(.read){
            color: #da6161;
        }
    }
}